* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  color: #404040;
  line-height: 1.5;
  width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ececec;
}

/*meu nome*/
h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: rgb(138, 0, 0);
}

/*perfil profisional*/
h2 {
  margin-top: 24px;
  margin-bottom: 10px;
  color: rgb(138, 0, 0);
  padding-bottom: 5px;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 5px;
}

a {
  color: rgb(138, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 25px 0;
  border: none;
  border-top: 1px solid rgb(138, 0, 0);
}